# SQL 基礎

## 郭耀仁

# 什麼是 SQL

## SQL 是縮寫

- Structured Query Language
- 查詢資料庫的語言

## 資料庫系統

- 商業
    - Microsoft SQL Server
    - Oracle
    - IBM DB2
- 開源
    - **MySQL**
    - PostgreSQL
    - MongoDB(NoSQL)

## 資料庫系統（2）

- SQL 資料庫以表格的形式儲存資料：

![](img/chapter0110.png)

## 資料庫系統（3）

- NoSQL 資料庫以 JSON 格式儲存資料：

![](img/chapter0111.png)

## 資料庫系統（4）

- 表格較直觀，但不夠靈活
- JSON 較抽象，但非常靈活

# 如何連結資料庫

## MySQL Workbench

- 這門課會使用這兩個軟體與 MySQL 連結：
    - [MySQL Workbench](https://www.mysql.com/products/workbench/)
    - R

## 設定連線資訊

- 新增連線

![](img/chapter0101.png)

## 設定連線資訊（2）

- Hostname: rsqltrain.ced04jhfjfgi.ap-northeast-1.rds.amazonaws.com
- Port: 3306
- Username: trainstudent

![](img/chapter0102.png)

## 設定連線資訊（3）

- 雙擊連線或按右鍵開啟連線

![](img/chapter0104.png)

## 設定連線資訊（4）

- 輸入密碼：**csietrain**

![](img/chapter0105.png)

## 設定連線資訊（5）

- Congrats, we are ALL set!

![](img/chapter0106.png)

# SQL 指令

## `SHOW`

```sql
SHOW DATABASES;
```

## `USE` and `SHOW`

```sql
USE world;
SHOW TABLES;
```

## 階層關係

- 資料庫系統
    - 資料庫
        - 表格

# 基礎的 SQL 查詢

## 一個典型的 SQL 查詢結構

```sql
SELECT ...
  FROM ...
  WHERE ...
  GROUP BY ...
  HAVING ...
  ORDER BY ...
```

## `SELECT` 與 `FROM`

- `*` 意指**所有的欄位**

```sql
SELECT *
  FROM world.country;
```

或者

```sql
USE world;
SELECT *
  FROM country;
```

## `SELECT` 與 `FROM`（2）

- **（重要！）**養成先選幾列出來觀察的好習慣

```sql
SELECT *
  FROM world.country
  LIMIT 10;
```

## `SELECT` 與 `FROM`（3）

- 選指定的欄位

```sql
SELECT Name
       ,Continent
       ,Population
  FROM world.country;
```

## `SELECT` 與 `FROM`（4）

- `COUNT(*)` 計算表格有幾列

```sql
SELECT COUNT(*)
  FROM world.country;
```

## `SELECT` 與 `FROM`（5）

- 計算表格有幾個欄位

```sql
SELECT COUNT(*)
  FROM information_schema.columns
  WHERE table_name = 'country';
```

## `SELECT` 與 `FROM`（6）

- 計算衍生欄位

```sql
SELECT *
       ,Population/SurfaceArea AS Density
  FROM world.country;
```

## `WHERE`

- 把 `Taiwan` 選出來

```sql
SELECT *
  FROM world.country
  WHERE Name = 'Taiwan';
```

## `WHERE`（2）

- 選擇多個國家，使用 `IN` 這個關鍵字

```sql
SELECT *
  FROM world.country
  WHERE Name IN ('Taiwan', 'Japan', 'South Korea');
```

## `WHERE`（3）

- 負面表列，使用 `NOT IN` 這個關鍵字

```sql
SELECT *
  FROM world.country
  WHERE Continent NOT IN ('Asia', 'Africa', 'Oceania', 'Europe', 'Antarctica');
```

## `WHERE`（4）

- 使用 `>` 來找出人口超過 2 億的國家

```sql
SELECT *
  FROM world.country
  WHERE Population > 200000000;
```

## `WHERE`（5）

- 使用 `BETWEEN` 找出人口介於 100 與 1 萬的國家

```sql
SELECT *
  FROM world.country
  WHERE Population BETWEEN 100 AND 10000;
```

## `WHERE`（6）

- 使用 `LIKE` 與 `%` 對字串進行模糊比對
- United 開頭的國家

```sql
SELECT *
  FROM world.country
  WHERE Name LIKE 'United%';
```

## `WHERE`（7）

- 使用 `LIKE` 與 `%` 對字串進行模糊比對
- land 結尾的國家

```sql
SELECT *
  FROM world.country
  WHERE Name LIKE '%land';
```

## `WHERE`（8）

- 使用 `LIKE` 與 `%` 對字串進行模糊比對
- T 開頭 n 結尾的國家

```sql
SELECT *
  FROM world.country
  WHERE Name LIKE 'T%n';
```

## `WHERE`（9）

- 使用 `LIKE` 與 `_` 對字串進行模糊比對
- 找出剛好由四個字母組成的國家

```sql
SELECT *
  FROM world.country
  WHERE Name LIKE '____';
```

## `WHERE`（10）

- 使用 `AND` **交集**兩個以上的條件

```sql
SELECT *
  FROM world.country
  WHERE Name LIKE '____'
    AND Continent = 'Asia';
```

## `WHERE`（11）

- 使用 `OR` **聯集**兩個以上的條件

```sql
SELECT *
  FROM world.country
  WHERE Population > 200000000
    OR Population < 100;
```

## 隨堂練習

- 請寫出能夠產出以下結果的 SQL 查詢：

![](img/chapter0107.png)

## 隨堂練習（2）

- 請寫出能夠產出以下結果的 SQL 查詢：

![](img/chapter0108.png)

## 隨堂練習（3）

- 請寫出能夠產出以下結果的 SQL 查詢：

![](img/chapter0109.png)