# SQL 進階

## 郭耀仁

## 一個典型的 SQL 查詢結構

```sql
SELECT ...
  FROM ...
  WHERE ...
  GROUP BY ...
  HAVING ...
  ORDER BY ...
```

## `ORDER BY` 描述

- 可以選擇依照某一個欄位排序查詢結果
- 遞增排序：ASC
- 遞減排序：DESC
- 找出人口數排名前 10 的國家

```sql
SELECT Name
    ,Population
  FROM world.country
  ORDER BY Population DESC
  LIMIT 10;
```

## `ORDER BY` 描述（2）

- 找出歐洲土地面積最小的 10 個國家

```sql
SELECT Name
    ,SurfaceArea
  FROM world.country
  WHERE Continent = 'Europe'
  ORDER BY SurfaceArea ASC
  LIMIT 10;
```

## `SUM()` 函數

- 回傳加總值

```sql
SELECT SUM(population) AS Sum_Pop
  FROM world.country;
```

## `DISTINCT()` 函數

- 回傳相異值

```sql
SELECT DISTINCT(continent)
  FROM world.country;
```

## `COUNT()` 函數

- 計算有多少國家的人口超過 1 億

```sql
SELECT COUNT(*)
  FROM world.country
  WHERE Population > 100000000;
```

## 其他常用數值函數

- `AVG()`
- `MAX()`
- `MIN()`
- ...

## `SUBSTR()` 函數

- 擷取某部分的文字

```sql
SELECT SUBSTR(Name, 1, 3) AS Sub_Name
    ,Name
    FROM world.country
    LIMIT 10;
```

## `CONCAT()` 函數

- 連結文字

```sql
SELECT Name 
    ,CONCAT(Region, ', ', Continent) AS Reg_Cont
    FROM world.country
    LIMIT 10;
```

## `UPPER()` 函數

- 轉換文字為大寫

```sql
SELECT UPPER(Name) AS Cap_Name
    , Name
    FROM world.country
    LIMIT 10;
```

## 其他常用文字函數

- `TRIM()`
- `LENGTH()`
- `LOWER()`
- `REVERSE()`
- ...

## `GROUP BY`

- `SUM()` 函數加入 `GROUP BY` 敘述
- 計算各個 Continent 的人口總數

```sql
SELECT Continent
       ,SUM(population) AS Sum_Pop
  FROM world.country
  GROUP BY Continent;
```

## `GROUP BY`（2）

- `COUNT()` 函數加入 `GROUP BY` 敘述
- 計算各個 Continent 的國家數

```sql
SELECT Continent
       ,COUNT(*) AS Number_of_Countries
  FROM world.country
  GROUP BY Continent;
```

## `GROUP BY`（3）

- `COUNT()` 函數加入 `GROUP BY` 敘述
- 計算各個 Region 人口超過 1 千萬的國家數

```sql
SELECT Region
       ,COUNT(*) AS Number_of_Countries
  FROM world.country
  WHERE Population > 10000000
  GROUP BY Region;
```

## `HAVING`

- 針對聚合函數下條件
- 找出總人口數超過 1 億的洲（Continent）

```sql
/*錯誤*/
SELECT Continent
       ,SUM(Population) AS Sum_of_Population
  FROM world.country
  GROUP BY Continent
  WHERE Sum_of_Population > 100000000;
```

## `HAVING`（2）

- 針對聚合函數下條件
- 找出總人口數超過 1 億的洲（Continent）

```sql
/*正確*/
SELECT Continent
       ,SUM(Population) AS Sum_of_Population
  FROM world.country
  GROUP BY Continent
  Having Sum_of_Population > 100000000;
```

## 子查詢

- `SELECT` **within** `SELECT`
- 找出人口數比美國多的國家：

```sql
SELECT Name
  FROM world.country
  WHERE Population > (
    SELECT Population
      FROM world.country
      WHERE Code = 'USA'
  );
```

## 子查詢（2）

- 找出跟 Brazil 屬於同一個洲的國家：

```sql
SELECT Name
  FROM world.country
  WHERE Continent = (
    SELECT Continent
      FROM world.country
      WHERE Name = 'Brazil'
  );
```

## `JOIN` 描述

- 也許是關聯式資料庫最重要的技巧！
- 聯結的種類：
    - Inner Join（內部聯結）
    - Left Join（左外部聯結）
    - Right Join（右外部聯結）
    - Full Join（全外部聯結）（MySQL 不支援）

## 內部聯結

- 取左表格（台灣、日本）跟右表格（台灣、南韓）的交集（台灣）

```sql
/*左表格*/
SELECT * FROM world.country
    WHERE Name IN ('Taiwan', 'Japan');

/*右表格*/
SELECT * FROM world.city
    WHERE CountryCode IN ('TWN', 'KOR');
```

## 內部聯結（2）

- 取左表格（台灣、日本）跟右表格（台灣、南韓）的交集（台灣）

```sql
/*內部聯結*/
SELECT left_tbl.*
      ,right_tbl.*
    FROM (
        SELECT *
        FROM world.country
        WHERE Code IN ('TWN', 'JPN')
    ) left_tbl
    INNER JOIN (
        SELECT * FROM world.city
        WHERE CountryCode IN ('TWN', 'KOR')
    ) right_tbl
    ON left_tbl.Code = right_tbl.CountryCode;
```

## 左外部聯結

- 留下所有左表格（台灣、日本）的資料

```sql
/*左表格*/
SELECT * FROM world.country
    WHERE Name IN ('Taiwan', 'Japan');

/*右表格*/
SELECT * FROM world.city
    WHERE CountryCode IN ('TWN', 'KOR');
```

## 左外部聯結（2）

- 留下所有左表格（台灣、日本）的資料

```sql
/*左外部聯結*/
SELECT left_tbl.*
      ,right_tbl.*
    FROM (
        SELECT *
        FROM world.country
        WHERE Code IN ('TWN', 'JPN')
    ) left_tbl
    LEFT JOIN (
        SELECT * FROM world.city
        WHERE CountryCode IN ('TWN', 'KOR')
    ) right_tbl
    ON left_tbl.Code = right_tbl.CountryCode;
```

## 右外部聯結

- 留下所有右表格（台灣、南韓）的資料

```sql
/*左表格*/
SELECT * FROM world.country
    WHERE Name IN ('Taiwan', 'Japan');

/*右表格*/
SELECT * FROM world.city
    WHERE CountryCode IN ('TWN', 'KOR');
```

## 右外部聯結（2）

- 留下所有右表格（台灣、南韓）的資料

```sql
/*右外部聯結*/
SELECT left_tbl.*
      ,right_tbl.*
    FROM (
        SELECT *
        FROM world.country
        WHERE Code IN ('TWN', 'JPN')
    ) left_tbl
    RIGHT JOIN (
        SELECT * FROM world.city
        WHERE CountryCode IN ('TWN', 'KOR')
    ) right_tbl
    ON left_tbl.Code = right_tbl.CountryCode;
```

## `UNION` 描述

- `JOIN` 是屬於水平合併
- `UNION` 是屬於垂直合併

```sql
SELECT Name
    FROM world.country
    WHERE Code = 'TWN'
UNION
SELECT Name
    FROM world.city
    WHERE CountryCode = 'TWN';
```

## 隨堂練習

- 請寫出能夠產出以下結果的 SQL 查詢：

![](img/chapter0201.png)

## 隨堂練習（2）

- 請寫出能夠產出以下結果的 SQL 查詢：

![](img/chapter0202.png)

## 隨堂練習（3）

- 找出跟阿根廷（Argentina）或澳大利亞（Australia）同一個洲的國家，並以國家名稱排序：

![](img/chapter0203.png)

## 隨堂練習（4）

- 請寫出能夠產出以下結果的 SQL 查詢：

![](img/chapter0204.png)

## 隨堂練習（5）

- 請寫出能夠產出以下結果的 SQL 查詢：

![](img/chapter0205.png)