# 在 R 進行 SQL 操作

## 郭耀仁

## 透過 dplyr

```r
library(dplyr)
library(DBI)

con <- dbConnect(RMySQL::MySQL(), 
                 dbname = "world",
                 host = "rsqltrain.ced04jhfjfgi.ap-northeast-1.rds.amazonaws.com",
                 port = 3306,
                 user = "trainstudent",
                 password = "csietrain")

country <- dbReadTable(con, "country")
dbDisconnect(con)
```

## 不同的函數

|函數|用途|
|:----|:----|
|`filter()`|觀測值（列）選擇|
|`select()`|變數（欄）選擇|
|`mutate()`|新增變數（欄）|
|`arrange()`|排序|
|`summarise()`|聚合|
|`group_by()`|分組|

## `filter()`

將台灣的國家資料選出來

```r
taiwan <- country %>%
    filter(Code == "TWN")
```

## `select()`

選擇資料框中的變數

```r
country_names <- country %>%
    select(Name)
```

## `mutate()`

新增人口密度 `Pop_Density` 變數

```r
country %>%
  mutate(
    Pop_Density = Population / SurfaceArea
  )
```

## `arrange`

以 `Population` 排序

```r
country %>%
  filter(Continent == 'Asia') %>%
  select(Name, Population) %>%
  arrange(desc(Population))
```

## `summarise()`

計算全球人口數

```r
country %>% 
    summarise(Ttl_Pop = sum(as.numeric(Population)))
```

## `group_by()`

依照洲別計算人口數

```r
country %>%
  group_by(Continent) %>%
  summarise(Ttl_Pop = sum(as.numeric(Population))) %>%
  arrange(desc(Ttl_Pop))
```

# 資料框聯結

## 不同的聯結方式

|種類|函數|
|:----|:----|
|內部連結|`inner_join()`|
|左外部連結|`left_join()`|
|右外部連結|`right_join()`|
|全外部連結|`full_join()`|

## 左表格與右表格

```r
library(DBI)

con <- dbConnect(RMySQL::MySQL(), 
                 dbname = "world",
                 host = "rsqltrain.ced04jhfjfgi.ap-northeast-1.rds.amazonaws.com",
                 port = 3306,
                 user = "trainstudent",
                 password = "csietrain")

# 左表格 
twn_jpn_country <- dbGetQuery(con, statement = "SELECT * FROM country WHERE Code in ('TWN', 'JPN')")

# 右表格
twn_kor_city <- dbGetQuery(con, statement = "SELECT * FROM city WHERE CountryCode in ('TWN', 'KOR')")

dbDisconnect(con)
```

## 內部連結

```r
joined_df <- inner_join(twn_jpn_country, twn_kor_city, by = c("Code" = "CountryCode"))
```

## 左外部連結

```{r}
joined_df <- left_join(twn_jpn_country, twn_kor_city, by = c("Code" = "CountryCode"))
```

## 右外部連結

```{r}
joined_df <- right_join(twn_jpn_country, twn_kor_city, by = c("Code" = "CountryCode"))
```

## 全外部連結

```{r}
joined_df <- full_join(twn_jpn_country, twn_kor_city, by = c("Code" = "CountryCode"))
```