# SQL 應用

## 郭耀仁

## 計算一個衍生變數

- 人均 GDP(GDP per Capita)

```sql
SELECT name,
       gdp / population
  FROM world;
```

## AS 敘述

- 為衍生變數取名

```sql
SELECT name,
       gdp / population AS gdp_percap
  FROM world;
```

## AS 敘述在 WHERE 敘述中不能立刻使用

- 錯誤

```sql
SELECT name,
       gdp / population AS gdp_percap
  FROM world
  WHERE gdp_percap > 10000;
```

## AS 敘述在 WHERE 敘述中不能立刻使用

- 正確

```sql
SELECT name,
       gdp / population AS gdp_percap
  FROM world
  WHERE gdp / population > 10000;
```

## 使用函數

- `ROUND(, decimal)` 函數可以調整小數點位數

```sql
SELECT name,
       ROUND(gdp / population) AS gdp_percap
  FROM world
  WHERE gdp / population > 10000;
```

## 使用函數

- `ROUND(, decimal)` 函數可以調整小數點位數

```sql
SELECT name,
       ROUND(gdp / population, 2) AS gdp_percap
  FROM world
  WHERE gdp / population > 10000;
```

## 使用函數

- `LENGTH()` 函數可以得知文字長度

```sql
SELECT name,
       LENGTH(name)
  FROM world;
```

## 使用函數

- `LEFT(, n)` 函數可以取出由左邊數來的 n 個文字

```sql
SELECT name,
       LEFT(name, 3)
  FROM world;
```

## 使用函數

- `CONCAT()` 函數可以連結文字

```sql
SELECT name,
       CONCAT(name, ' ', continent)
    FROM world
    LIMIT 10;
```

## WHERE 敘述：不等於

- 使用 `<>` 比較運算子

```sql
SELECT name,
       continent
    FROM world
    WHERE continent <> 'Asia' OR
          continent <> 'North America';
```

## WHERE 敘述：模糊比對

- 使用 `%` 在條件中對文字做模糊比對
- 使用 `LIKE` 敘述

## WHERE 敘述：模糊比對

- 選出國名中有 `land` 的國家名

```sql
SELECT name
    FROM world
    WHERE name LIKE '%land%';
```

## WHERE 敘述：NOT

- 反轉 WHERE 條件

```sql
SELECT name,
       continent
    FROM world
    WHERE continent NOT IN ('Asia', 'Europe', 'North America');
```

## WHERE 敘述：小括號

- 利用小括號達到類似四則運算中的優先效果

```sql
SELECT name,
       continent,
       population
    FROM world
    WHERE (continent = 'Asia' OR 
           continent = 'Europe') AND
          population > 10000000;
```

## 完成 13 個 SQLZOO 練習

https://sqlzoo.net/wiki/SELECT_from_WORLD_Tutorial

## `ORDER BY` 描述

- 可以選擇依照某一個欄位排序查詢結果
- 遞減排序：DESC
- 找出人口數最多的前 10 個國家

```sql
SELECT name,
       population
  FROM world
  ORDER BY population DESC
  LIMIT 10;
```

## `ORDER BY` 描述（2）

- 找出歐洲土地面積最小的 10 個國家
- 預設為遞增排序：ASC

```sql
SELECT name,
       area
  FROM world
  WHERE continent = 'Europe'
  ORDER BY area
  LIMIT 10;
```

## 子查詢

- `SELECT` **within** `SELECT`
- 找出人口數比俄國多的國家

```sql
/*先知道俄國人口有多少*/
SELECT population
FROM world
WHERE name = 'Russia'; /*146000000*/

/*然後再寫一個查詢*/
SELECT name
FROM world
WHERE population > 146000000;
```

## 子查詢（2）

- 把兩個查詢寫在一個查詢中，這個就是 **子查詢 Sub-query**

```sql
SELECT name
FROM world
WHERE population > (
    SELECT population
        FROM world
        WHERE name = 'Russia'
);
```

## 子查詢（3）

- 找出人均 gdp 比英國高的**歐洲**國家

```sql
/*先知道英國人均 GDP 多少*/
SELECT gdp/population
FROM world
WHERE name = 'United Kingdom'; /*38555.0739*/

/*然後再寫一個查詢*/
SELECT name
FROM world
WHERE continent = 'Europe' AND
      gdp/population > 38555.0739;
```

## 子查詢（4）

- 把兩個查詢寫在一個查詢中，這個就是 **子查詢 Sub-query**

```sql
SELECT name
FROM world
WHERE continent = 'Europe' AND
      gdp/population > (
      SELECT gdp/population
          FROM world
          WHERE name = 'United Kingdom'
      );
```

## 子查詢（5）

- 找出與阿根廷、澳洲同洲的國家、洲別

```sql
/*先知道阿根廷、澳洲在哪個洲*/
SELECT continent
FROM world
WHERE name IN ('Argentina', 'Australia'); /*South America, Oceania*/

/*然後再寫一個查詢*/
SELECT name,
       continent
FROM world
WHERE continent IN ('South America', 'Oceania');
```

## 子查詢（6）

- 把兩個查詢寫在一個查詢中，這個就是 **子查詢 Sub-query**

```sql
SELECT name,
       continent
FROM world
WHERE continent IN (
    SELECT continent
        FROM world
        WHERE name IN ('Argentina', 'Australia')
);
```

## 完成 5 個 SQLZOO 練習（1~5）

https://sqlzoo.net/wiki/SELECT_within_SELECT_Tutorial