# SQL 基礎

## 郭耀仁

## 惱人的問題

- 我的需求單排序很後面...
- 資料撈回來了，但是我又想增加一些需求...

## 可能的解法

- 找一個工程師全力支援（X）
- 申請一個資料庫帳號自己來撈資料（O）

## 這門課的目標

- 拉近使用者與資訊人員的距離
- 提高使用者的工作掌握度
- Becoming a **power** user!

## 課程結束後你將能夠

- 自行撰寫 SQL 指令查詢資料庫
- 進行更有效率的需求訪談
- 將資料庫和程式語言環境相連結

# 什麼是 SQL

## SQL 是縮寫

- 發音是 **se-quel**
- Structured Query Language
- 查詢資料庫的語言

## 為什麼要使用資料庫？

以檔案格式存在的資料，在以下四個任務無法規模化：

- C(reate)
- R(ead)
- U(pdated)
- D(elete)

## 資料庫系統

- 商業
    - Microsoft SQL Server
    - Oracle
    - IBM DB2
- 開源
    - **MySQL**
    - PostgreSQL
    - MongoDB

## 另一個角度看資料庫系統分類

- SQL
    - Microsoft SQL Server
    - Oracle
    - IBM DB2
    - **MySQL**
    - PostgreSQL
- NoSQL
    - MongoDB
    - Firebase

## 資料庫系統（2）

- SQL 資料庫以表格的形式儲存資料：

![](img/chapter0120.png)

## 資料庫系統（3）

- NoSQL 資料庫以 JSON 格式儲存資料：

![](img/chapter0119.png)

## 資料庫系統（4）

- 表格較直觀，但不夠靈活
- JSON 較抽象，但非常靈活

# SQL 的重要性

## Python、R 與 SQL 是資料分析入門的基本

[探索 2017 Kaggle 資料科學調查資料](https://medium.com/pyradise/%E6%8E%A2%E7%B4%A2-2017-kaggle-%E8%B3%87%E6%96%99%E7%A7%91%E5%AD%B8%E8%AA%BF%E6%9F%A5%E8%B3%87%E6%96%99-f03f1617ae5e)

## 沒有基本，就像沒有醬汁的鳳尾炸蝦

![](img/where_is_sauce.jpg)

# Getting Started

## 我們使用幾個免費資源

- [DataCamp](https://www.datacamp.com/courses/intro-to-sql-for-data-science?tap_a=5644-dce66f&tap_s=194899-1fb421)
- [SQLZOO](https://sqlzoo.net/wiki/SQL_Tutorial)
- [codecademy](https://www.codecademy.com)

## 關於表格

|資料方向|名稱|俗稱|
|-------|----|-----|
|水平|Rows|Observations|
|垂直|Columns|Variables|

## 寫作風格

- 查詢語法、函數全大寫：

```sql
SELECT * FROM world.country;
```

## 寫作風格

- 變數名稱、資料庫名稱與表格名稱遵從其命名之大小寫：

```sql
SELECT Name FROM world.country;
```

## 寫作風格

- 選擇多個變數請換行，一行一個變數
- 換行後查詢語法使用 `Tab` 鍵縮排

```sql
SELECT Name,
       Continent
    FROM world.country;
```

## 寫作風格

- 使用分號標註查詢結束

```sql
SELECT Name,
       Continent
    FROM world.country;
```

## SQL 查詢：SELECT

- 選擇表格中的變數

## SQL 查詢：FROM

- 指定從哪個表格中擷取資料

## 在 SQLZOO 寫出我們的第一個 SQL 查詢

- Observe the result of running this SQL command to show the **name**, **continent** and **population** of all countries.

<https://sqlzoo.net/wiki/SELECT_from_WORLD_Tutorial>

## SQL 查詢：WHERE

- 對查詢結果下條件篩選
- 常見有文字的篩選條件、數值的篩選條件

## SQL 查詢：WHERE

查詢法國的人口數

```sql
SELECT population
    FROM world
    WHERE name = 'France';
```

## SQL 查詢：WHERE

- 等號的意義？
- 單引號的意義？

## SQL 查詢：WHERE

- 多個條件的時候可以使用：
    - `AND`
    - `OR`
    - `IN`
    - `BETWEEN`

## SQL 查詢：WHERE

```sql
SELECT name, population FROM world
  WHERE name IN ('Brazil', 'Russia', 'India', 'China');
```

## SQL 查詢：WHERE

```sql
SELECT name, area FROM world
  WHERE area > 250000 AND
        area < 300000;
```

## SQL 查詢：WHERE

```sql
SELECT name, area FROM world
  WHERE area BETWEEN 250000 AND 300000;
```